body {
    background-color: rgb(27, 24, 20);

}

h1 {
    color: rgb(255, 241, 221);
}

section {
    background-color: rgb(255, 231, 193);
    padding: 1px;
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
    border: 3px solid rgb(128, 90, 50);
    border-radius: 5px;
}

nav {
    background-color: rgb(255, 245, 229);
    border-radius: 15px;
    border: 3px solid rgb(128, 90, 50);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    border: 3px solid rgb(128, 90, 50);
    border-radius: 5px;
    background-color: rgb(255, 245, 229);
    text-align: center;

}

.row {
display:flex;
flex-direction:column;
align-items: center;
}