body {
    background-color: rgb(254, 236, 255);
}

section {
    background-color: rgb(230, 203, 232);
    padding:1px;
    width: 80%;
    margin-left:50px;
    margin-right:50px;
    border:3px solid rgb(51, 33, 52);
    border-radius: 5px;
}

nav {
    background-color: rgb(214, 177, 217);
    border-radius: 15px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 40%;
    border-radius: 5px;
    border: 1px solid black;
    background-color: rgb(230, 203, 232);

    text-align: center;
}