body {
    background-color: rgb(27, 24, 20);

}

h1 {
    color: rgb(255, 241, 221);
}

section {
    background-color: rgb(255, 231, 193);
    padding: 5px;
    margin: 10px;
    border: 3px solid rgb(128, 90, 50);
    border-radius: 5px;
}

nav {
    background-color: rgb(255, 245, 229);
    border-radius: 15px;
    border: 3px solid rgb(128, 90, 50);
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    border: 3px solid rgb(128, 90, 50);
    border-radius: 5px;
    background-color: rgb(255, 245, 229);
    text-align: center;

}



.displayOne {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectInfo {
    margin: 20px;
    border: 3px solid rgb(128, 90, 50);
    border-radius: 5px;
    background-color: rgb(255, 245, 229);
    padding: 5px;
}

.rowCols {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (min-width: 576px) {
    .makeRow {
        display: flex;
        flex-direction: row;
    }

    .displayTwo {
        display: flex;
        flex-direction: column;
        align-items: right;
    }

    .rowCols {

        display: inline;
        align-content: space-evenly;
    }

}

@media screen and (min-width: 700px) {


    .displayTwo {
        display: block;
    }

    .makeRow {
        display: block;
    }

    .displayThree {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 40px;
        width: 80%;
    }

    .card {
        width: 100%
    }

}